# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs used by testing
coverage/
.nyc_output/

# dotenv environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Vercel build output
.vercel/
.vercel_build_output/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/

# Temporary folders
tmp/
temp/
